{% block menu_base %}
    <ul>
        {% block menu_base_user %}
            {% if app.user %}
                <div>{% trans %}Hello, {% endtrans %} {{ app.user.firstName }} {{ app.user.lastName }}</div>
                <div>
                    <a href="{{ path('front.user.logout') }}">{{ 'Log Out'|trans }}</a>
                </div>
            {% else %}
                <div>
                    <li><a href="{{ path('front.user.register') }}">{{ 'Register'|trans }}</a></li>
                    <li><a href="{{ path('front.user.login') }}">{{ 'Login'|trans }}</a></li>
                </div>
            {% endif %}
        {% endblock %}
    </ul>
{% endblock %}